.main-subscription {
  margin-bottom: 50px;
  background-color: $gray;
}

.main-subscription__wrapper {
  max-width: 707px;
  margin: 0 auto;
  padding: 33px 0 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  &::before {
    width: 707px;
    height: 707px;
    position: absolute;
    content: " ";
    top: -75px;
    left: 0;
    background-color: $white;
    border-radius: 50%;
  }

  h3 {
    margin: 0;
    padding-bottom: 35px;
    font-family: $robotoBold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: $black;
  }

  .main-subscription__link {
    width: 170px;
    padding: 18px 15px 16px 30px;
    font-family: $robotoBold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $white;
    background-color: $orange;
    position: relative;

    &::after {
      width: 16px;
      height: 16px;
      position: absolute;
      content: " ";
      top: 16px;
      right: 33px;
      background-image: url("../img/svg/arrow-icon.svg");
      background-repeat: no-repeat;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.main-subscription__list {
  @include reset-list;

  width: 52%;

  .main-subscription__item {
    margin-bottom: 47px;
    position: relative;

    &::after {
      width: 100px;
      height: 2px;
      position: absolute;
      content: " ";
      bottom: -24px;
      left: 135px;
      background-color: $gray;
    }

    &:last-child::after {
      display: none;
    }

    h4 {
      margin: 0;
      padding-bottom: 8px;
      font-family: $playfairDisplayExtrtBold;
      font-size: 23px;
      line-height: 31px;
      text-align: center;
      color: $black;
    }

    p {
      margin: 0;
      text-align: center;
      color: $black;
    }
  }
}
