extends layouts/layout
include components/header
include components/main-nav
include components/main-slogan
include components/main-review
include components/main-subscription
include components/footer

block header
  +header

block main
  main.page-main
    +main-slogan
    +main-review
    +main-subscription

block footer
  +footer
