// screen-resolution
$desktop-width: 1440px;

//fonts
$robotoRegular: "Roboto-Regular", "Arial", sans-serif;
$robotoBold: "Roboto-Bold", "Arial", sans-serif;
$playfairDisplayExtrtBold: "PlayfairDisplay-ExtraBold", "Arial", sans-serif;

//colors
$black: #000000;
$white: #ffffff;
$orange: #ff7931;

//colors-button
$green: #1fba0a;

//colors-link
$light-green: #84c604;
