mixin header
  header.main-header(class!=attributes.class)
    section.main-header__wrapper.container
      h1 Новости культуры
      nav.main-header__box-list
        ul.main-header__list
          li.main-header__item
            a.main-header__link(href="#") Новости
          li.main-header__item
            a.main-header__link(href="#") Обзоры
          li.main-header__item
            a.main-header__link(href="#") Музыка
          li.main-header__item
            a.main-header__link(href="#") Архитектура
          li.main-header__item
            a.main-header__link(href="#") Кино
          li.main-header__item
            a.main-header__link(href="#") Театр
          li.main-header__item
            a.main-header__link(href="#") Литература
          li.main-header__item
            a.main-header__link(href="#") Религия
          li.main-header__item
            a.main-header__link(href="#") Живопись

