mixin main-nav
  nav.main-nav(class!=attributes.class)
    ul.main-nav__list
      li.main-nav__item
        a.main-nav__link(href="#") Новости
      li.main-nav__item
        a.main-nav__link(href="#") Обзоры
      li.main-nav__item
        a.main-nav__link(href="#") Музыка
      li.main-nav__item
        a.main-nav__link(href="#") Архитектура
      li.main-nav__item
        a.main-nav__link(href="#") Кино
      li.main-nav__item
        a.main-nav__link(href="#") Театр
      li.main-nav__item
        a.main-nav__link(href="#") Литература
      li.main-nav__item
        a.main-nav__link(href="#") Религия
      li.main-nav__item
        a.main-nav__link(href="#") Живопись
