mixin main-slogan
  section.main-slogan(class!=attributes.class)
    div.main-slogan__wrapper
      span.main-slogan__svg
        svg(width="27" height="18")
          use(xlink:href="img/sprite.svg#gallery")
      h2 Подводный отель
      p Как известно, Дубай – город контрастов. Самые революционные <br> и фантастические мечты архитекторов способен воплотить в жизнь этот мегаполис, построенный на нефти и за счет нефти
