mixin main-review
  section.main-review(class!=attributes.class)
    div.main-review__wrapper.container
      h3 Обзоры
      ul.main-review__list
        li.main-review__item
          img(src="img/review-img-1.jpg" width="370" height="203" alt="Шальные годы Манпарнаса")
          a.main-review__link(href="#") «Шальные годы» Монпарнаса
          p В Музее изобразительных искусств имени Пушкина с 29 сентября по 29 ноября проходит выставка «Шальные годы Монпарнаса»
        li.main-review__item
          img(src="img/review-img-2.jpg" width="370" height="203" alt="Шальные годы Манпарнаса")
          a.main-review__link(href="#") Анатомия за 30 секунд
          p Сейчас, когда мир открыт нараспашку для человека и его познавательных изысканий, интерес <br> к научно‑популярной литературе заметно вырос
        li.main-review__item
          img(src="img/review-img-3.jpg" width="370" height="203" alt="Шальные годы Манпарнаса")
          a.main-review__link(href="#") Сферические чудаки
          p Корреспондентам «Культурного обозревателя» посчастливилось побывать в театре «Сфера» на премьере спектакля «Чудаки и зануды»
