mixin main-subscription
  section.main-subscription(class!=attributes.class)
    div.main-subscription__wrapper
      h3 Абонементы в театр
      ul.main-subscription__list
        li.main-subscription__item
          h4 Скидка 50% на весь сезон 2020
          p Покупая абонемент на сезон 2020 года вы сэкономите половину стоимости всех спектаклей
        li.main-subscription__item
          h4 Места у сцены
          p Только для обладателей абонементов будет возможность сесть поближе к сцене
        li.main-subscription__item
          h4 Автограф-сессия актёров
          p После спектаклей у вас будет возможность пообщаться с актёрами и взять у них автограф
      a.main-subscription__link(href="#") Смотреть
